---
const res = await fetch(
  "https://portfolio-kn.000webhostapp.com/wp-json/wp/v2/about"
);
const about = await res.json();

import SectionLayout from "../layouts/SectionLayout.astro";
import Title from "./Title.astro";
import Text from "./Text.astro";
---

<script>
  const res = await fetch(
    "https://portfolio-kn.000webhostapp.com/wp-json/wp/v2/about"
  );
  const about = await res.json();

  console.log();
</script>
<SectionLayout id="about">
  <div class="section-shadow rounded-xl p-7 md:p-12">
    <Title>{about[0].acf?.title}</Title>
    <Text>
      {about[0].acf?.description}
    </Text>
  </div>
</SectionLayout>
