---
import SectionLayout from "../layouts/SectionLayout.astro";
import Title from "./Title.astro";
import Text from "./Text.astro";
---

<SectionLayout id="about">
  <div class="section-shadow rounded-xl p-7 md:p-12">
    <Title>About me 👋</Title>

    <Text>
      En tant qu'étudiant en MMI, j'ai acquis de solides compétences en HTML,
      CSS, JavaScript et PHP. <br /><br /> Je suis capable de concevoir et de développer
      des sites web professionnels, attrayants et fonctionnels. Je suis également
      capable de travailler avec des frameworks tels que Bootstrap et de travailler
      avec des bases de données pour créer des applications web dynamiques. Je suis
      convaincu que mon éducation solide en développement web, combinée à ma passion
      pour la programmation et mon désir de me développer en tant que développeur,
      font de moi un candidat idéal pour un stage ou une alternance. <br /><br
      />Je suis déterminé à utiliser cette opportunité pour démontrer mon
      potentiel et à développer mes compétences afin d'atteindre mes objectifs
      professionnels à long terme.
    </Text>
  </div>
</SectionLayout>
