---
const { as, extraClasses } = Astro.props;
---

<a
  href={`#${as}`}
  class={`inline-block text-sm btn-shadow rounded-xl bg-[#F1F1F1] px-12 py-4 transition hover:-translate-y-[5px] sm:text-base ${extraClasses}`}
>
  <slot />
</a>
