---
import { Image } from "@astrojs/image/components";
import SectionLayout from "../layouts/SectionLayout.astro";
import Title from "./Title.astro";

import IconEmail from "../images/icon-email.svg";
---

<SectionLayout id="contact">
  <article
    class="flex flex-col items-center section-shadow rounded-xl p-5 md:p-12"
  >
    <h3 class="text-xl font-normal md:text-2xl text-center mb-6">
      Vous cherchez un développeur web frontend ? <br />Contactez-moi ✉️
    </h3>

    <a
      class="inline-flex gap-6 btn-shadow rounded-xl bg-[#F1F1F1] px-6 py-4"
      href="mailto:nicolas.klein67120@gmail.com"
    >
      <Image
        src={IconEmail}
        width={30}
        height={30}
        alt="icon email"
        class="hidden md:block"
      />
      <span class="text-sm sm:text-base">nicolas.klein67120@gmail.com</span>
    </a>
  </article>
</SectionLayout>
