<nav class="">
  <div class="flex items-center justify-between h-[72px] container">
    <h1 class="font-bold text-3xl">KN.</h1>

    <ul class="hidden md:flex gap-6">
      <li><a href="#">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</nav>
