---
import SectionLayout from "../layouts/SectionLayout.astro";
import Project from "./Project.astro";
import Title from "./Title.astro";

import CUEJ from "../images/cuej.png";
import SAE from "../images/sae-project.png";
import astroConfig from "../../astro.config.mjs";

const res = await fetch(
	"https://portfolio-kn.000webhostapp.com/wp-json/wp/v2/projects"
);
const projects = await res.json();
---

<script>
	const res = await fetch(
		"https://portfolio-kn.000webhostapp.com/wp-json/wp/v2/projects"
	);
	const projects = await res.json();

	console.log(projects);
</script>
<SectionLayout padding="50px 0 120px" id="projects">
	<Title>Mes projets 🧑‍💻</Title>

	<div class="flex flex-col gap-y-12">
		{
			projects.map((project) => (
				<Project
					title={project.title.rendered}
					imageSrc={project.acf.image}
					description={project.content.rendered}
					link={project.acf.link}
				/>
			))
		}x
	</div>
</SectionLayout>
