---
const { title, imageSrc, description, link } = Astro.props;

import Buttons from "./Buttons.astro";
import Text from "./Text.astro";
---

<article
  class="flex flex-col-reverse items-center gap-[30px] rounded-xl section-shadow p-5 md:gap-[50px] md:p-12 md:flex-row"
>
  <div class="md:w-6/12">
    <h3 class="font-medium text-2xl mb-4 md:mb-12">{title}</h3>
    <Text extraClasses="my-6 md:my-12">
      {description}
    </Text>
    <Buttons>Voir le projet</Buttons>
  </div>

  <div class="h-full md:w-6/12">
    <img class="min-h-full rounded-xl" src={imageSrc} alt={title} />
  </div>
</article>
