body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 20px;
}

.logo {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

nav {
    display: none;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.menu-btn {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    position: relative;
}

.menu-btn-burger {
    background-color: #fff;
    height: 2px;
    width: 25px;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
    background-color: #fff;
    content: "";
    height: 2px;
    position: absolute;
    width: 25px;
}

.menu-btn-burger::before {
    top: -7px;
}

.menu-btn-burger::after {
    top: 7px;
}

menu-btn {
    display: none;
}

nav {
    display: flex;
}

.nav-item {
    margin-left: 30px;
}

.nav-link:hover {
    color: #333;
}

/* Responsive navigation toggle */
@media (max-width: 767px) {
    .menu-btn {
        display: flex;
    }

    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        width: 80%;
        max-width: 300px;
    }

    .nav-item {
        margin-top: 20px;
        text-align: right;
    }

    .nav-link {
        display: block;
        font-size: 18px;
        padding: 10px 0;
    }

    .menu-btn.active .menu-btn-burger {
        background-color: transparent;
    }

    .menu-btn.active .menu-btn-burger::before {
        transform: rotate(45deg);
        top: 0;
    }

    .menu-btn.active .menu-btn-burger::after {
        transform: rotate(-45deg);
        top: 0;
    }
}


main {
    padding: 0 20px 0 20px;
    margin: 80px auto;
}

h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}

section {
    background-color: #fff;
    padding: 40px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    border-radius: 20px;
}

section h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

section p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

section img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

section#about-section {
    padding: 100px 0;
    text-align: center;
  }
  
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 20px;
  }
  
  .propos h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .propos p {
    font-size: 15px;
    line-height: 1.5;
    text-align: left;
    width: 95%;
    margin-bottom: 40px;
    opacity: 0;
    animation: fade-in 1.5s ease-out forwards;
  }
  
  .moi .photo {
    border-radius: 50%;
    overflow: hidden;
    width: 400px;
    height: 400px;
    animation: slide-in-right 1.5s ease-out forwards;
  }
  
  .moi .photo img {
    width: 100%;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slide-in-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }



.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-item {
    width: calc(50% - 20px);
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 40px;

}

.project-item {
    opacity: 0;
    visibility: hidden;
  }
  
  .animated {
    opacity: 1;
    visibility: visible;
    animation-fill-mode: both;
    animation-duration: 1s;
  }
  
  @keyframes fadeInUp {
    from {
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInUp {
    animation-name: fadeInUp;
  }
  

.project-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-details {
    padding: 20px;
}

.project-details h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.project-details p {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
    height: 250px;
}

.project-details a {
    display: block;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;    
}
  
.project-details a:hover {
    transform: scale(1.1);
  }
  
  

footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 14px;
    /* width: 100%; */
}

form {
    max-width: 800px;
    margin: 80px auto;
    background-color: #fff;
    padding: 40px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #333;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

/* Pour les petits écrans */
@media (max-width: 767px) {
    /* Header */
    .header-container {
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
  
    .logo {
      margin-bottom: 10px;
    }
  
    nav {
      display: none;
      width: 100%;
    }
  
    .nav-list {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-item {
      margin: 10px 0;
    }
  
    .menu-btn {
      display: flex;
    }
  
    /* About section */
    .flex {
      flex-direction: column-reverse;
    }
  
    .propos,
    .moi {
      width: 100%;
      margin: 0;
    }
  
    .photo {
      display: none;
    }
  
    /* Projets section */
    .projet-card {
      flex-direction: column;
      margin-bottom: 30px;
    }
  
    .projet-card h3 {
      margin: 10px 0;
      font-size: 18px;
    }
  
    .projet-card p {
      margin: 10px 0;
      font-size: 14px;
    }
  
    .projet-card .btn {
      margin-top: 10px;
    }
  
    /* Footer */
    .footer-container {
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
  
    .footer-logo {
      margin-bottom: 10px;
    }
  
    .footer-nav {
      margin: 10px 0;
    }
  
    .footer-nav-item {
      margin: 5px 0;
    }
  }

  #skills-section {
    background-color: #ffffff;
    padding: 80px 0;
    text-align: center;
  }
  
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px; 
    background-color: #ffffff;
  }
  
  .skill {
    width: 250px;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    background-color: #f5f5f5;
  }
  
  .skill:hover {
    transform: scale(1.1);
  }
  
  .skill img {
    object-fit: contain;
    height: 100px;
    width: 100%;
    margin-bottom: 20px;

  }
  
  .skill h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .skill p {
    font-size: 16px;
    line-height: 24px;
    color: #666;
  }
  

  
  /* Pour les écrans moyens et grands */
  @media (min-width: 768px) {
    /* Header */
    .header-container {
      padding: 20px;
    }
  
    nav {
      display: flex;
      width: auto;
    }
  
    .nav-list {
      flex-direction: row;
    }
  
    .nav-item {
      margin: 0 20px;
    }
  
    .menu-btn {
      display: none;
    }
  
    /* About section */
    .flex {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .propos {
      width: 60%;
      margin-right: 20px;
    }
  
    .moi {
      width: 40%;
    }
  
    .photo {
      display: block;
      max-width: 100%;
      height: auto;
    }
  
    /* Projets section */
    .projet-card {
      flex-direction: row;
      margin-bottom: 0;
    }
  
    .projet-card h3 {
      margin: 0 20px 0 0;
      font-size: 24px;
    }
  
    .projet-card p {
      margin: 0;
      font-size: 16px;
    }
  
    .projet-card .btn {
      margin-left: 20px;
    }
  
    /* Footer */
    .footer-container {
      justify-content: space-between;
      padding: 20px;
    }
  
    .footer-nav {
      margin: 0;
    }
  
    .footer-nav-item {
      margin: 0 10px;
    }
  }
  

  /* pour les écrans plus petits que 600px de large */
@media only screen and (max-width: 600px) {
    .competences {
      flex-wrap: wrap;
      justify-content: center;
    }
    .competences .competence {
      margin: 10px;
      width: 80%;
    }
  }
  
  /* pour les écrans plus petits que 400px de large */
  @media only screen and (max-width: 400px) {
    .competences .competence {
      width: 100%;
    }
  }
  